@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    background-image: url("images/scales.png");
    margin-top: 60px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
}

img {
    border-radius:50%;
    width:200px;
    box-shadow: 0 0 10px black;
}

a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    text-decoration: none;
    color: #7a9cba
}

#links {
    width: 400px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

#profile {
    background-color: #2a3b4a;
    border-radius: 25px;
    width: 300px;
    border: 25px solid #0e1f2e;
    padding: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 0 15px #0a1b2a;
    font-size: 20px;
}

.topnav {
    background-color: #162736;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    font-family: "Trebuchet MS";
    display: block;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #7a9cba;
    color: white;
}

.topnav .active {
    background-color: #8aacad;
    color: white;
}