<!-- Footer -->
<footer class="bg-secondary-900 border-t-2 border-blue-200 border-opacity-25 relative w-full py-6">
    <!--<span class="lg:invisible block absolute top-0 right-0 text-blue-400 hover:text-blue-500 mt-3 mr-3"><a href="#">Back to top</a></span>-->
    <div class="flex container lg:w-2/3 items-center justify-between flex-wrap pl-3 pr-0 py-1 sm:p-5 text-white">
        <div class="inline-flex">
            <a href="/" class="transform hover:scale-90">
                <img class="w-14 rounded-full" src="images/me-144x144.jpg" alt="logo">
            </a>
            <address class="flex-1 ml-3">
                <strong class="not-italic">Adory Vo</strong>
                <br>
                <a class="text-blue-400 hover:text-blue-500" href="mailto:adoryvo.business@gmail.com">adoryvo.business@gmail.com</a>
            </address>
        </div>


        <div>
            <div class="text-right">
                Made with <i class="fas fa-heart text-blue-200"></i> in San Diego.
            </div>
            <div class="divide-x divide-white text-right text-blue-400 mt-1">
                <div class="inline-block hover:text-blue-500 px-2"><a href="/about">About</a></div>
                <div class="inline-block hover:text-blue-500 px-2"><a href="/projects">Projects</a></div>
                <div class="inline-block hover:text-blue-500 pl-2"><a href="/contact">Contact</a></div>
            </div>
        </div>
    </div>
</footer>