<main class="flex sm:container mx-4 my-4 sm:my-32 text-white">
    <section class="sm:w-2/3 mx-auto place-self-center">
        <div class="bg-primary border-4 border-secondary-900 rounded-xl px-4 py-6 sm:p-8">
            <h1 class="text-2xl font-semibold text-blue-200 mb-3"><%= title %></h1>
