<!doctype html>
<html lang="en">
<head prefix="og: https://ogp.me/ns#">
    <%- include('layouts/head'); %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145928076-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-145928076-1');
    </script>

    <!-- Home meta tags -->
    <meta name="description"
          content="Adory Vo: I'm an aspiring software developer and programming educator currently doing freelance software development with web technologies like Node.js and React.">
    <link rel="canonical" href="https://www.adoryvo.com/"/>

    <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@AdoryVo">
    <meta name="twitter:creator" content="@AdoryVo">
    <meta name="twitter:title" content="Adory Vo">
    <meta name="twitter:description"
          content="Adory Vo: I'm an aspiring software developer and programming educator currently doing freelance software development with web technologies like Node.js and React.">
    <meta name="twitter:image:src" content="https://www.adoryvo.com/images/site-preview.png">

    <!-- OGP: https://ogp.me/ -->
    <meta property="og:url" content="https://www.adoryvo.com/">
    <meta property="og:title" content="Adory Vo">
    <meta property="og:description"
          content="Adory Vo: I'm an aspiring software developer and programming educator currently doing freelance software development with web technologies like Node.js and React.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.adoryvo.com/images/site-preview.png">

    <title>Adory Vo</title>
</head>

<body class="h-screen">

<main class="flex container h-full">
    <section class="max-w-lg mx-auto place-self-center">
        <figure class="bg-primary border-4 border-secondary-900 rounded-xl px-4 py-6 sm:p-8">
            <img class="shadow-2xl rounded-full w-36 h-36 mx-auto border-4 border-secondary-900" width="144"
                 height="144" src="images/me.jpg" srcset="images/me-144x144.jpg 144w, images/me.jpg 1400w" sizes="7vw" alt="">
            <figcaption class="font-medium mt-3 text-center">
                <div class="font-semibold serif text-lg text-blue-300">
                    Adory Vo
                </div>
                <div class="text-white">
                    Aspiring Software Developer and Educator
                </div>

                <div class="text-red-600 mt-2">
                    <i class="fas fa-graduation-cap"></i>
                    Torrey Pines High School '19
                </div>
                <div class="text-blue-500">
                    <i class="fas fa-university"></i>
                    UC San Diego '23
                </div>

                <hr class="my-3 border-secondary-900">
                <div class="flex justify-evenly text-blue-200">
                    <div>
                        <a href="/about" class="hover:text-blue-300">About</a>
                    </div>
                    <div>
                        <a href="/projects" class="hover:text-blue-300">Projects</a>
                    </div>
                    <div>
                        <a href="/contact" class="hover:text-blue-300">Contact</a>
                    </div>
                </div>
            </figcaption>
        </figure>
    </section>
</main>

<!-- Bundled JS: jQuery,  -->
<script src="scripts/bundle.js"></script>

<!-- Custom Scripts -->
<script src="scripts/navbar-init.js"></script>
</body>
</html>