a {
    color: white;
}

body {
    background-image: url("../geometricPattern.png");
    margin-top: 60px;
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 14px;
    color: white;
}

.topnav {
    background-color: #162736;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    font-family: "Trebuchet MS";
    display: block;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #7a9cba;
    color: white;
}

.topnav .active {
    background-color: #8aacad;
    color: white;
}