/* ---------- GLOBAL STYLES ---------- */
html {
    scroll-behavior: smooth;
}

::selection {
    background: rgba(255, 255, 255, 0.1);
    color: #0F172A;
    text-shadow: 1px 1px #0F172A;
}


body {
    background: #2a3b4a url(../images/scales.png);
    font-family: 'Roboto', sans-serif;
}

.serif {
    font-family: 'Roboto Slab', serif;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: rgba(191, 219, 254, 1) !important;
}

nav, #navLinks {
    transition: height 1s, opacity 1s;
}

nav a.transform, footer a.transform {
    transition: transform 0.5s;
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.fa-heart {
    animation-name: grow;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* ---------- HOME ---------- */
.some-reused-element {

}

/* ---------- MUSIC ---------- */
#favMusic {
    transition: transform 2s;
}

#favMusic:hover {
    cursor: zoom-in;
}

#favMusic:focus {
    transform: scale(1.5);
}

/* ---------- SOME PAGE ---------- */

/* ---------- MEDIA QUERIES ---------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}